<h1>itty.<span class="header-highlight">be</span></h1>
<div id="input">
  <input type="text" id="input-field" placeholder="Paste your unfortunately long url here..." />
  <button class="copy-btn" data-clipboard-target="#input-field" style="display: none">Copy to Clipboard</button>
</div>
