<!doctype>
<html>
<head>
  <title>itty.be</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Zilla+Slab" rel="stylesheet">
  <link rel="stylesheet" href="/assets/bundle.scss">
  <link rel="apple-touch-icon" sizes="167x167" href="/touch-icon-ipad-pro.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/touch-icon-iphone-2x.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/touch-icon-iphone-3x.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/569f949709.js"></script>
  <script type="text/javascript" src="/assets/bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
</head>
<body>
  <div id="wrapper">
    <div id="content">
      <%= yield %>
    </div>
  </div>

  <footer>
    <ul>
      <li class="footer-left"><a href="/">itty.<span class="footer-highlight">be</span></li></li>
      <li><a href="/privacy">Privacy</a></li>
      <li><a href="/terms">Terms</a></li>
    </ul>
  </footer>
</body>
</html>
