<h2>Privacy Policy</h2>

<p>Sorry, I'm still working on getting a privacy policy. In the meantime, here
   are our current policy standards:</p>

<ul>
  <li>We're not big brother. We're not even that big.</li>
  <li>No accounts are required to use the service.</li>
  <li>We ask you to respect our servers, and we respect your privacy.</li>
  <li>Users under the age of 13 are <strong>NOT PERMITTED</strong> to use this service. This is a guideline of the State of California. So, if you're underage, come back when you mature. We'd love you to use it then.</li>
  <li>We <strong>DO</strong> track, store, and share your IP address, URLs, history of browsing our site, response times, and metadata with affiliates necessary to effectively provide the service.</li>
  <li>We <strong>DO NOT</strong> engage in market analysis activites, demographics research, or participate in any analytics program or advertising.</li>
  <li>As a free service, we are privately funded and operated.</li>
  <li>Data you provide to this site is entirely public and may remain indefinitely accessible and attributed to you.</li>
  <li>This entire website is <a href="https://github.com/codeblooded/ittybe">Open Source</a>, and so any privacy concerns should be filed in an issue on GitHub.</li>
  <li>If we are issued a court-ordered search warrant for your data, you authorize us to fully comply with any law enforcement agencies.</li>
  <li>You agree to comply with our <a href="/terms">Terms of Service</a> and recognize that we can delete your data or suspend your access to the service at any time for any reason.</li>
  <li>We will track, blacklist, and report you to authorities if you appear to DDoS Attack us. These guidelines are then voided, because this is war.</li>
  <li>We do not require your first born child at this time.</li>
  <li>We promise to not blackmail, spam, or torture you unnecessarily.</li>
  <li>We are totally shocked and impressed that you actually read this and hope you like itty.be!</li>
</ul>
