<h2>Terms of Service</h2>

<h3>Definitions</h3>

<p>
<ul>
<li>Service: The itty.be project in its entirety, including its physical servers and intellectual property.</li>
<li>We: The developers and maintainers of the the itty.be project.</li>
<li>You: A user or bot designed to interact with the itty.be service.</li>
<li>Open Source: The itty.be project's source code is available free of charge and use for any purpose which honors the clauses of the <a href="https://github.com/codeblooded/ittybe/tree/master/LICENSE">MIT License</a>. You can see the code on <a href="https://github.com/codeblooded/ittybe">GitHub</a>. This also allows the community to fix issues more quickly.</li>
</ul>
</p>

<h3>Community Guidelines</h3>
<p>
The following is a non-exhaustive list of prohibited content across the service. By using the service, you agree not to post or link to any content that could be classified or categorized in this list:

<ul>
<li>That which users or developers of the service find offensive or objectionable, non-negotiably at the developer's sole discretion</li>
<li>Promoting, referencing, or otherwise soliciting illegal activities or use, sale, or distribution of illicit substances under the jurisdiction of the United States of America</li>
<li>Pornographic, erotic, sexualized, explicit, or adult-natured or referencing any such site and service</li>
<li>Marketing, referencing, showcasing, or encouraging violence, rioting, political unrest, conflict, or terrorizing situations</li>
<li>Falsely claiming the authenticity or origin of a server or service or not utilizing HTTPs for secure transmission of sensitive user data</li>
<li>Scamming, fishing or damaging sites and services</li>
<li>Content which is infected with malware, key-logging, or tracking software of any kind</li>
<li>Services that require access over an onion router or proxy, such as TOR</li>
</ul>
</p>

<p>
Content which violates these guidelines may be removed at any time, and the posting user may be suspended or blacklisted at the developer's discretion. We expect all users to respect these community guidelines.
</p>

<h3>Reverse Engineering</h3>

<p>All of the itty.be source code is made publicly accessible. You should have no need to reverse engineer, decompile, or deconstruct any components of the service.  If you choose to contribute to the service, the developers would love to welcome you.  You should use the API only in an approved manner which is described in these Terms of Service. The developers reserve the right to blacklist users and ban access to the service at any time for any reason.</p>

<h3>API</h3>

<p>The service provides a REST-ful JSON API for both commercial and noncommercial use. Please be respectful of this API and network traffic. All requests through the API on behalf of a third party must be in compliance with these terms. The content must also be in compliance with the Community Guidelines. The developers reserve the right to add rate limits at any time, if necessary.  The developers also may blacklist services which violate any future rate limits or these Terms of Service directly or indirectly through their user's content.</p>

<h3>Changes to these Terms</h3>

<p>The Terms of Service may be modified from time to time.  This may occur with or without notification. By continuing to use the service, you agree to the current terms.</p>

<p>Effective as of August 1, 2017.</p>
